.marriage__cart {
    position: relative;
    z-index: 1;
    img {
        width: 100%;
        vertical-align: middle;

        // @media (max-width:575px) {
        //     transform: scale(1.3);
        // }
    }
}