.marriage__cart {
    padding-top: 172px;
    position: relative;



    img {
        width: 100%;
        vertical-align: middle;

    @media (max-width:575px) {
        transform: scale(1.3);
    }
    }

    @media (max-width:1080px) {
        padding-top: 15vw;
    }

}