.timer {
    padding-top: 20px;
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 31px;
    }

    p {
        font-weight: 400;
        font-size: 96px;
        color: #a0000b;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-weight: 400;
            font-size: 32px;
            text-align: center;
            color: #000;
        }
    }

    @media (max-width: 1080px) {
        &__content {
            gap: 3vw;
        }

        p {
            font-size: 6.5vw;
        }

        &__col {
            span {
                font-size: 2.5vw;
            }
        }
    }

    @media (max-width: 575px) {
        p {
            font-size: 11.5vw;
        }

        &__col {
            span {
                font-size: 5.5vw;
            }
        }
    }
}