footer {
    padding-top: 180px;
    position: relative;

    @media (max-width: 1080px) {
        padding-top: 15vw;
    }

    .frame__img {
        width: 100%;
    }

    // .branch {
    //     position: absolute;
    //     right: 0;
    //     transform: translateY(-97%);
    //     @media (max-width: 1080px) {
    //         transform: translateY(-100%);
    //         height: 117vw;
    //     }
    //     img {
    //         height: 100%;
    //         width: 100%;
    //     }
    // }

    .info {
        display: block;
        // margin-left: 0 auto -76%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        position: relative;
        z-index: 1;

        .texts {
            max-width: 552px;
            width: 100%;

            p {
                font-size: 64px;
                color: #000;
            }

            span {
                font-family: 'TheArtist';
                font-size: 128px;
                color: #a0000b;
                display: block;
                margin-left: 45%;
                line-height: 79px;
            }
        }

        .main_image {
            img {
                width: 100%;
            }
        }

        .text_image {
            width: 80%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        @media (max-width:1080px) {
            .texts {
                p {
                    font-size: 5.9vw;
                }

                span {
                    font-size: 11.8vw;
                    line-height: 6vw;
                }
            }
        }

        @media (max-width:575px) {
            p {
                font-size: 5vw;
            }

            span {
                line-height: 10vw;
            }
        }
    }


}