footer {
    padding-top: 10px;
    position: relative;

    .frame__img {
        width: 100%;
    }

    .branch {
        position: absolute;
        right: 0%;
    }

    .info {
        display: block;
        margin: 0 auto;
        width: max-content;
        .texts {
            max-width: 552px;
            width: 100%;

            p {
                font-size: 64px;
                color: #000;
            }

            span {
                font-family: 'TheArtist';
                font-size: 128px;
                color: #a0000b;
                display: block;
                margin-left: 45%;
                line-height: 79px;
            }
        }

        .image {
            max-width: 80vw;
            img {
                width: 100%;
            }
        }

        @media (max-width:1080px) {
            .texts {
                p {
                    font-size: 5.9vw;
                }

                span {
                    font-size: 11.8vw;
                }
            }
        }

        @media (max-width:575px) {
            p {
                font-size: 5vw;
            }

            span {}
        }
    }


}