@font-face {
    font-family: 'Bella';
    src: url('../assets/fonts/BellaScriptCYR.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Forum';
    src: url('../assets/fonts/Forum-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TheArtist';
    src: url('../assets/fonts/TheArtist.ttf');
    font-weight: 400;
}
