@import url(fonts.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forum';
    font-weight: 400;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    padding-bottom: 200px;
    overflow: hidden;
}

body {
    background: black;
}